<style>
    .signup {
        margin: 25px;
        padding: 30px;
        color: rgb(111, 21, 21) !important;
    }
    .signupForm {
        text-align: center;
    }
</style>
<div>
    <h1 class="signup">SignUp</h1>
</div>
<form class="signupForm" action="/auth/signup" method="POST">
    <label for="new-name">Name</label>
    <input type="text" name="name" id="new-name">

    <label for="new-email">Email</label>
    <input type="email" name="email" id="new-email">

    <label for="new-password">Password</label>
    <input type="password" name="password" id="new-password">

    <input type="submit" value="Sign Up">
</form>