<style>
    h1 {
        text-align: center;
        color: rgb(111, 21, 21);
        font-family: 'Creepster', cursive;
    }

    div {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 2em;
        color: rgb(111, 21, 21);
        font-family: 'Creepster', cursive;
    }

    body {
        background-color: black;
    }
</style>

<h1>OH NO! File not found error?! What?! Working on it!</h1>
<div>
    <img src="https://i.imgflip.com/fef3x.jpg" width="400px">
</div>
<p>Don't worry. ^ He's not impressed either.</p>