<style>
    h1 {
        text-align: center;
    }

    img {
        margin-left: 500px;
        margin-right: 500px;
    }
</style>

<h1>OH NO! File not found error?! What?! Working on it!</h1>

<img src="https://lh3.googleusercontent.com/proxy/i7biBVp-wDSaQi8OwQko--5A1LCWZR4Q1W6oOo2DikVU-iIhg9wV8LKUQ-ak4rsfX3pykm5UZ26xzO-CK1KsAebjjH0D0Rg12Hrn9F7FtaT1NYNo87RvEmhG8Y0jbzGFlCfLmFKJ8FeP7aHZ0Te1cb9ysoA79IsR2EguZQ" width="400px">