<style>
    .searchbar {
       width: 300px;
       height: 30px; 
       text-align: center;
    }
    .submitButton {
        text-align: center;
    }
    .search {
        text-align: center;
    }
    .submit {
        text-align: center;
    }
</style>

<h1><%= currentUser.name %>'s Horror List</h1>
<form action="/results" method="GET">
    <div class="search">
        <input class="searchbar" type="search" placeholder="Search for a horror flick" name="searchBar">
        </div>
        
        <div class="submit">
        <input class="submitButton" type="submit">
        </div>
</form>