<style>
    .searchbar {
       width: 300px;
       height: 30px; 
       text-align: center;
    }
    .submitButton {
        text-align: center;
    }
    .search {
        text-align: center;
        margin-top: 30px;
    }
    .submit {
        text-align: center;
        margin: 15px
    }
    .myPage {
        color: rgb(111, 21, 21) !important;
        margin: 50px;
        padding: 10px;
    }
</style>
<div>
    <h1 class="myPage"><%= currentUser.name %>'s Horror List</h1>
</div>
<form action="/results" method="GET">
    <div class="search">
        <input class="searchbar" type="search" placeholder="Search for a horror flick" name="searchBar">
        </div>
        
        <div class="submit">
        <input class="submitButton" type="submit">
        </div>
</form>