<style>
    img {
        width: 125px;
    }
    a {
        text-align: center;
        font-size: 1.5em;
    }
    .searchResults {
        text-align: center;
    }
</style>
<% movies.forEach(movie => { %>
    <div class="searchResults">
        <a href="/results/<%= movie.id %>">
            <p><%= movie.title %></p>
            <img src="https://image.tmdb.org/t/p/w400/<%= movie.poster_path %>" alt=""> 
        </a>
    </div>
<% }) %>